.attributeCard {
  width: 400px;
  height: 75px;
  border-radius: 20px;
}

.attributeCardHeader {
  font-size: 1.25rem;
  font-family: "Ubuntu", "monospace";
  font-weight: 300;
}
.attributeCardBody {
  font-family: "Inter", "monospace";
}

div#attributeGridSec {
  height: 500px;
  margin-top: auto;
  background: linear-gradient(
    to right,
    rgba(60, 131, 246, 0.2),
    rgba(180, 79, 243, 0.2),
    rgba(7, 182, 213, 0.2)
  );
}

.topLeftCheck {
  color: green;
  margin-right: 15px;
}

#attrGridButt {
  background-color: white;
  border: 1px solid lightgrey;
  transition: 0.1s linear;
}

#attrGridButt:hover {
  background-color: plum;
  color: darkmagenta;
}

.col {
  height: 300px;
}

.smallTopText {
  color: purple;
}

@media only screen and (max-width: 768px) {
  div#attributeGridSec {
    height: 850px;
    justify-content: inherit;
  }
  div#attributeGridSec > * {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .smallTopText {
    margin-right: auto;
    margin-left: auto;
  }
  .attributeCard {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .topLeftCheck {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  div#attributeGridSec {
    height: 850px;
    justify-content: inherit;
  }
  div#attributeGridSec > * {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .smallTopText {
    margin-right: auto;
    margin-left: auto;
  }
  .attributeCard {
    width: 250px;

    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .topLeftCheck {
    display: none;
  }
}
