div.gridCard {
  height: 100px;
  width: 18vw;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: whitesmoke 1px solid;
  border-radius: 20px;
  color: whitesmoke;
  background-color: #5e9af9;
  transition: linear 0.1s;
}

div.gridCard:hover {
  border: #fff 1px solid;
  background-color: #74a8fc;
  color: white;
}

div.gridCard > p {
  height: fit-content;
  text-align: center;
}

div.cardGridSec {
  background: rgb(133, 178, 255);
  background: linear-gradient(
    180deg,
    rgba(133, 178, 255, 1) 0%,
    rgb(10, 101, 238) 100%
  );
  height: 600px;
  color: white;
}

#cardGridButton {
  border: lightgray solid 1px;
  transition: 0.1s linear;
}

#cardGridButton:hover {
  background-color: lightgray;
  color: darkmagenta;
}

.smallTopText {
  color: orange;
}

@media only screen and (max-width: 768px) {
  div.cardGridSec {
    height: 900px;
  }
  div.gridCard {
    width: 225px;
  }
}
@media only screen and (max-width: 480px) {
  div.cardGridSec {
    height: 1050px;
  }
  div.gridCard {
    width: 150px;
  }
}
