#simpleHeroSec {
  height: 700px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 72, 124, 1) 66%,
    rgb(0, 179, 255) 100%
  );
  color: white;
}

#heroImageCont {
  height: 600px;
  width: 600px;
  position: relative;
  margin: auto;
}
@media only screen and (max-width: 480px) {
  #heroImageCont {
    height: 400px;
    width: 400px;
    position: relative;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
  #heroImageCont {
    height: 55%;
    width: 55%;
    position: relative;
    margin: auto;
  }
}

#heroButton {
  transition: 0.1s linear;
}
#heroButton:hover {
  background-color: lightgray;
}
