#simpleHeroSec {
  height: 700px;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 72, 124, 1) 66%,
    rgb(0, 179, 255) 100%
  );
  color: white;
}

#heroImageCont {
  height: 600px;
  width: 600px;
  position: relative;
}

#heroButton {
  transition: 0.1s linear;
}
#heroButton:hover {
  background-color: lightgray;
}
