.prodHead > span {
  color: purple;
}
.prodHead {
  font-family: "Ubuntu", "monospace";
  font-weight: 900;
  font-size: 3rem;
}

.bodyText {
  font-family: "Inter", "monospace";
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.sectionButton {
  border-radius: 10px;
  height: 50px;
  width: 150px;
  background-color: whitesmoke;
  color: purple;
  font-family: "Inter", "monospace";
}

div.basicSec {
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.basicSec > * {
  margin-top: auto;
  margin-bottom: auto;
}

.smallTopText {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Inter", "monospace";
}

.medMidText {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: "Ubuntu", "monospace";
  margin-bottom: 10px;
}

.prodBodyText {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Inter", "monospace";
  margin-bottom: 25px;
}

.prodTextCol {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button.secButton {
  border-radius: 0.5rem;
  height: 50px;
  width: 120px;
  font-family: "Inter", "monospace";
}

.nextImage {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nextImageContainer {
  height: 150px;
  width: 150px;
  position: relative;
}

a.purpleHover {
  transition: ease-in-out 0.1s;
}

a.purpleHover:hover {
  color: purple;
}
